# Database
MONGODB_URI=mongodb://localhost:27017/datasets-api

# X402 Payment Middleware
X402_WALLET_ADDRESS=0xCA3953e536bDA86D1F152eEfA8aC7b0C82b6eC00
X402_FACILITATOR_URL=https://x402.polygon.technology

# Server
PORT=3000
NODE_ENV=development
